/* 
    Document   : screen
    Created on : Oct 17, 2012, 10:47:25 AM
    Author     : Harrymonster
    Description:
        Purpose of the stylesheet follows.
*/
@import url("http://fonts.googleapis.com/css?family=Headland+One");
root { 
    display: block;
}

