/* 
    Document   : base2
    Created on : Dec 8, 2012, 5:34:50 PM
    Author     : Harry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
		background-image: url("/images/navy_blue.png");
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
                
 }
 nav{
    position: relative;
    left: -20px;
    
    text-align: center;    
    

}
nav li{
    display: inline; 
    
}

nav li a{
    text-decoration: none;
     text-align: center;
}

#top-wrap{
    height: 220px;
}

#top-wrap img{
    float: left;
    padding-right: 10px;
     margin-right: 10px;
     box-shadow: -3px 3px 3px #777;
}
 #page-wrap {
     position: relative;
     margin: 20px auto;
     background-image: url("/images/creampaper.png");
     width: 720px;
     padding: 20px;
     border-radius: 10px;
     box-shadow: -5px 5px 20px #000;
 }
 .box {
    float: left;
    width: 320px;
    height: 200px;
    background-image: url("/images/retrointro.png");
    box-shadow: -3px 3px 3px #777;
    margin: auto;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 10px;
 }
 .box-wrap{
   width: 696px;
   height: 760px; 
   margin: auto;
   position: relative;
   
 }
/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-family: "Droid Sans", sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 20px; line-height: 25px; margin-bottom: 5px; color: #333;}
	h2 { font-size: 20px; line-height: 24px; margin-bottom: 5px; }
	h3 { font-size: 16px; line-height: 20px; margin-bottom: 4px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; font-family: 'Droid Sans', sans-serif;}
	p img { margin: auto; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
        
        a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }
        
        form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }